@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap");

@import "tailwindcss";

:root {
	direction: rtl;
	font-family: "Ubuntu Sans", "Vazirmatn", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "wdth" 100;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
html,
body {
	font-family: "Ubuntu Sans", "Vazirmatn", sans-serif !important;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "wdth" 100;
	line-height: 1.5;
}

.ltr {
	direction: ltr;
}

body {
	--sb-track-color: #232e33;
	--sb-thumb-color: #6f6f6f;
	--sb-size: 3px;
}

body::-webkit-scrollbar {
	width: var(--sb-size);
}

body::-webkit-scrollbar-track {
	background: var(--sb-track-color);
	border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
	body {
		scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
	}
}

.custom-scrollbar {
	--sb-track-color: #232e33;
	--sb-thumb-color: #6f6f6f;
	--sb-size: 3px;
}

.custom-scrollbar::-webkit-scrollbar {
	width: var(--sb-size);
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: var(--sb-track-color);
	border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
	.custom-scrollbar {
		scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
	}
}
